:host {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #264b78;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
}

:host::before {
  content: 'Espere Cargando...';
  font-size: 14px;
  color: #fff;
}
