<div class="card-list">
  <div class="card-list_item">
    <div class="image">
      <img [src]="img" />
    </div>
    <div class="description">
       <p>Product 1</p>
       <p>Descripcion product 1</p>
    </div>
  </div>
  <div class="card-list_item">
  <div class="image">
    <img [src]="img" />
  </div>
  <div class="description">
     <p>Product 1</p>
     <p>Descripcion product 1</p>
  </div>
</div>
<div class="card-list_item">
<div class="image">
  <img [src]="img" />
</div>
<div class="description">
   <p>Product 1</p>
   <p>Descripcion product 1</p>
</div>
</div>
</div>
